<div class="container">
<h3>What type of listing would you like to create?</h3>
<button ng-click="vm.listingTypeChange('property')">Property</button>
<button ng-click="vm.listingTypeChange('rental')">Rental</button>
</div>
<br>
<br>
<form class="container-fluid">
    <div ng-show="vm.listingType == 'property'">
        <div class="form-group">Cost: $
            <input ng-model="vm.newListing.cost" class="form-control" type="number"> </div>
        <div class="form-group">Squarefootage:
            <input ng-model="vm.newListing.sqft" class="form-control" type="number">sqft </div>
        <div class="form-group">City:
            <input ng-model="vm.newListing.city" class="form-control" type="text">
        </div>
        <button ng-click="vm.addListing(vm.newListing)">Submit Listing</button>
    </div>

    <div ng-show="vm.listingType == 'rental'">
        <div class="form-group">Rent (annual): $
            <input ng-model="vm.newListing.rent" class="form-control" type="number"> </div>
        <div class="form-group">Squarefootage:
            <input ng-model="vm.newListing.sqft" class="form-control" type="number">sqft </div>
        <div class="form-group">City:
            <input ng-model="vm.newListing.city" class="form-control" type="text">
        </div>
        <button ng-click="vm.addRental(vm.newListing); vm.listingTypeChange('none');">Submit Listing</button>
    </div>
</form>